<ion-header >

  <ion-toolbar style="padding: 10px;border-bottom: 1px solid white;" color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu" style="font-size: 3rem">
      </ion-menu-button>
    </ion-buttons>
    <ion-title  slot="end" style="font-weight: 900;font-family: unset;">BEDELIAS.MOVIL</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content class="center" style="background: midnightblue;">
      
      
  <ion-title  slot="end" style="font-weight: 900;font-family: unset;">BEDELIAS.MOVIL</ion-title>

  <ion-card> 
    <ion-card-content>
      Bienvenid@ estudiante de UTEC a Bedelías Móvil,
      aquí podrás solicitar tu escolaridad cuando desees
      además de poder inscribirte en cursos y exámenes.
    </ion-card-content>
  </ion-card>
  <ion-card> 
    <ion-card-content>
      Bedelías ha sido renovado por estudiantes de la UTEC.
    </ion-card-content>
  </ion-card>
  <ion-card> 

    <ion-card-content>
      <img src="../assets/img/utec.jpeg" />
    </ion-card-content>
  </ion-card>
</ion-content>
